<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="site.css">
  <title>Money</title>
</head>

<body>
  <br>
  <div id="app" v-cloak class="container">
    <div class="row">
      <canvas id="chart"></canvas>
    </div>
    <br>
    <div class="row">
      <div class="col-sm align-self-center">
        <div class="input-group">
          <input v-model="filter" class="form-control" placeholder="Search by description">
          <span class="input-group-btn">
            <button type="button" class="btn btn-dark" v-on:click="updateChart">Search!</button>
            <i v-bind:class="{ invisible: hideSpinner }" class="ml-2 fa fa-spinner fa-spin align-self-center" style="font-size:24px"></i>
          </span>
        </div>
      </div>
      <div class="col-sm text-right">
        <h3>Sum
          <span class="badge badge-secondary">
            {{ totalSum().toLocaleString('sv-SE', { style: 'currency', currency: 'SEK' }) }}
          </span>
        </h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm" @drop="drop" @dragover="dragover" @dragend="dragEnd">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col" class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="expense in expenses">
              <td>{{ new Date(expense.date).toLocaleDateString('sv-SE') }}</td>
              <td>{{ expense.description }}</td>
              <td class="text-right">
                {{ expense.amount.toLocaleString('sv-SE', { style: 'currency', currency: 'SEK' }) }}
                <button type="button" class="btn btn-dark" v-on:click="deleteExpense(expense.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="index.js"></script>
</body>

</html>