<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="site.css" rel="stylesheet">
  <script src="jquery-1.6.4.min.js"></script>
  <script src="jquery.signalR-2.2.2.min.js"></script>
  <title>Money money</title>
</head>

<body>
  <div id="container" class="container">
    <div id="drop_zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">
    </div>
  </div>
  <div id="app">
    <input v-model="filter">
    <ol>
      <li v-for="expense in filtered(expenses, filter)">
        {{ expense.Description }} {{ expense.Amount.toLocaleString('sv-SE') }}
      </li>
    </ol>
    <span>{{ totalSum(expenses, filter).toLocaleString('sv-SE') }}</span>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="index.js"></script>
</body>

</html>